.page-header
  = link_to new_restaurant_path, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Restaurant

- if @restaurants.empty?
  .jumbotron
    %h1 No Restaurants!
- else
  .table-responsive
    %table.table.table-striped.table-bordered.table-hover
      %thead
        %tr
          %th Name
          %th Address
          %th Phone
          %th Website
          %th Hours
          %th Price
          %th Cuisine
          %th Menu
          %th Images
          %th{colspan: 3}

      %tbody
        - @restaurants.each do |restaurant|
          %tr
            %td= restaurant.name
            %td= restaurant.address
            %td= restaurant.phone
            %td= restaurant.website
            %td= restaurant.hours
            %td= price_as_dollar_signs(restaurant.price)
            %td= restaurant.cuisine
            %td= restaurant.menu_id
            %td
              - restaurant.pictures.each do |picture|
                = image_tag attachment_url(picture, :image), size: "200x200"
            %td
              = link_to restaurant do
                Show
            %td
              = link_to edit_restaurant_path(restaurant) do
                Edit
            %td
              = link_to restaurant, data: { confirm: 'Are you sure?' }, method: :delete do
                Delete
